%ul.nav.navbar-nav.animated
  %li
    %a{href: "https://about.gitlab.com/downloads", onclick: "ga('send', 'event', 'link', 'click', 'Download');"}
      Download
  %li
    %a{href: "https://about.gitlab.com/features", onclick: "ga('send', 'event', 'link', 'click', 'Features');"}
      Features
  %li
    %a{href: "https://about.gitlab.com/pricing", onclick: "ga('send', 'event', 'link', 'click', 'Pricing');"}
      Pricing
  %li
    %a{href: "https://about.gitlab.com/community", onclick: "ga('send', 'event', 'link', 'click', 'Community');"}
      Community
  %li
    %a{href: "https://about.gitlab.com/blog", onclick: "ga('send', 'event', 'link', 'click', 'Blog');"}
      Blog
  %li
    %a.sign-in-up-btn{href: "https://gitlab.com/users/sign_in", onclick: "ga('send', 'event', 'link', 'click', 'Sign in');"}
      Sign Up
